.nav-bar nav {
  max-width: 100%;
  mask-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.329) 0%,
    #222121 25%,
    #302e2e 75%,
    rgba(26, 25, 25, 0) 100%
  );
  margin: 0 auto;
  padding: 30px 10;
}

 nav > ul {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(83, 82, 82, 0.116) 0%,
    rgba(255, 255, 255, 0.356) 25%,
    rgba(255, 255, 255, 0.356) 75%,
    rgba(83, 82, 82, 0.116) 100%
  );
  box-shadow: 0 0 25px rgb(1, 28, 32), inset 0 0 1px rgba(255, 255, 255, 0.5);
}

 nav > ul > li {
  display: inline-block;
}

 nav > ul > li > a {
  padding: 10px;
  margin: 20px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: rgba(8, 27, 27, 0.993);
  font-size: 24px;
  text-decoration: none;
  /* display: block; */
}

 ul li a:hover {
  color: rgba(245, 243, 247, 0.904);
  transition: all 0.2s ease-in-out;
}

body {
  min-height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1485982353291-4f167f9dee32?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


h1 {
  font-size: 40px;
  /* border: 3px solid yellow; */
}
.page-outline {
  border: 1px solid yellow;
}
.vertical-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.horizontal-row {
  display: flex;
  width: 100%;
  border: 1px solid blue;
}
.hero {
  border: 1px solid red;
}

.submit-button {
  /* border: none; */
  background-color: transparent;
}

.info {
  width: 60%;
  border: 2px solid orange;
}
.col-25 {
  width: 25%;
  border: 1px solid red;
}
.col-75 {
  width: 75%;
  border: 1px solid pink;
}
.boldParagraph {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
p {
  font-size: 20px;
}





